
 body {
    background:url(https://res.cloudinary.com/du0ul4ojw/image/upload/v1763488100/edit_crh9br.jpg) ;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

  }

  a {
      display: block;             
      padding: 20px 0px ;         
      margin: 100px 670px;   
      width: 200px;           
      background: #d7dbdec5;        
      color: rgb(0, 0, 0);    
      text-decoration: none;           
      text-align: center;   
      border-radius: 25px;        
      font-family: Arial, sans-serif;
      font-size: 16px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    a:hover {
      background: #ffffff;         
      transform: scale(1.1);                
      box-shadow: 0 6px 15px rgb(0, 0, 0); 
    }
   .contacts
   { display: flex;
     justify-content: center; /* center horizontally */
     gap: 20px;  
     margin-top: -50px;
   }
   .contacts img
   {
     width: 70px;
     height: 70px;        
     border-radius: 12px;
     object-fit: cover;
     align-items: center;
      filter: invert(1);
  }
   .contacts img:hover {
    transform: scale(1.8);
    box-shadow: 0 4px 10p ;
    transition: transform 0.3s, box-shadow 0.3s;
}
/* Mobile adjustments */
 /* Mobile adjustments */
@media (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;       /* center horizontally */
        justify-content: center;   /* center vertically */
        min-height: 100vh;
        margin: 0;
    }
   a {
        width: 80%;             /* adjust width */
        text-align: center;     /* center text */
        font-size: 14px;
        padding: 8px 0;
        margin: 0;          /* small spacing between links */
        display: block;
    }
    .contacts {
        display: flex;
        gap: 15px;
        margin-top: 20px; /* small space below contacts */
    }

    .contacts img {
        width: 50px;
        height: 50px;
    }

 
}
 
    










